/*========================

 Rest Rule

=========================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}



/*=======================

 Universal Styling

=========================*/
body {
  font-family: 'PT Sans', sans-serif;
}

h1,
h2 {
  font-family: 'Libre Baskerville', serif;
}

header {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    z-index: 3;
    border-bottom: 1px solid #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
}

header nav ul li {
    display: inline-block;
    font-size: 22px;
    margin-right: 184px;
    margin-left: 108px;
}

header a {
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}

.nav-donate a {
    color: #b45539;
    opacity: 1;
    transition: .3s;
}

.svg-inline--fa {
  padding-right: 3px;
}

li a:hover {
  color: #b45339;
  transition: .3s;
}


.nav-donate a:hover {
  opacity: 0.5;
  transition: .3s;
}






/*=========================

  Langding Page Styling

=========================*/
.quote {
    max-width: 37%;
    float: right;
    margin-top: 243px;
    margin-right: 50px;
}

.langding-h1 {
    font-size: 38px;
}

.name {
    font-size: 20px;
    margin-top: 30px;
}

.arrow {
    position: relative;
    text-align: center;
    font-size: 50px;
    margin-top: 80px;


}

.arrow a {
    position:absolute;
    text-decoration: none;
    color: black;
    animation: down 5s infinite linear;
}


.arrow a:hover {
    color: #615b58;
    transition: .3s;
}


@keyframes down {
  0%, 20%, 50%, 80%, 100% {
    /*-moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);*/
    transform: translateY(0);
  }
  40% {
    /*-moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);*/
    transform: translateY(-30px);
  }
  60% {
    /*-moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);*/
    transform: translateY(-15px);
  }
}


/*=========================

    Home Page Styling

=========================*/

.content {
  display: flex;
  justify-content: center;
  margin: 60px 40px;
  position: relative;
}

.left-half {
  float: left;
  padding:20px;
  max-height: 563px;
  overflow-y: scroll;
}

.left-half h1 {
    font-size: 38px;
    margin-bottom: 30px;
}

.left-half h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.left-half p {
    padding: 8px;
    font-size: 20px;
}

.emphasis {
    font-size: 24px;
    color: #b45539;
    font-weight: bold;
}

.right-image {
    height: 563px;
    object-fit: cover;
}
